<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ebooking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <div class="container" id="app">
        <h1>Ebooking Flow</h1>
        <h2>Reservar Cita</h2>

        <ul>
            <li v-for="item in result">
                {{ item.id }}
            </li>
        </ul>
        <p v-if="currentAction">
            <button class="btn" @click="processAction(currentAction.id)">{{ currentAction.id }}</button>
        </p>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                currentAction: {},
                flow: [
                    {
                        id: 'start',
                        nextActionId: 'reservarCita',
                        do: 'test',
                        condition: true
                    },
                    {
                        id: 'reservarCita',
                        nextActionId: 'elegirParametros',
                        do: 'test',
                        condition: true
                    },
                    {
                        id: 'elegirParametros',
                        nextActionId: 'end',
                        do: 'test',
                        condition: true
                    },
                    {
                        id: 'end',
                        nextActionId: '',
                        do: 'test',
                        condition: true
                    },
                ],
                result: []
            },
            mounted: function () {
                this.currentAction = this.getAction('start');
            },
            methods: {
                getAction: function (actionId) {
                    const action = this.flow.find(item => item.id === actionId);
                    if (!action) {
                        return null;
                    }
                    return action;
                },
                getNextAction: function (action) {
                    if (!action) {
                        return null;
                    }
                    const nextAction = this.getAction(action.nextActionId);
                    if (!nextAction) {
                        return null;
                    }
                    return nextAction;
                },
                processAction: function (actionId) {
                    console.log('actionId:', actionId);
                    if (!actionId) {
                        return;
                    };

                    const action = this.getAction(actionId);
                    console.log('action:', action);
                    if (!action) {
                        return;
                    };

                    if (this.$options.methods.hasOwnProperty(action.do)) {
                        console.log('running method:', action.do);
                        this.$options.methods[action.do].bind(this)();
                    } else {
                        console.log('undefined method:', action.do);
                    }

                },
                test: function () {
                    this.result.push(this.currentAction);
                    this.currentAction = this.getNextAction(this.currentAction);
                }
            }
        });
    </script>

</body>

</html>